Repository pulanski/scud, changes with the labels that .github/labeler.yml gives for each.
All labels: config/dependencies, circleci, husky, github, gh-workflows, scud_core, assets, scud

[ImgBot] Optimize images
  assets/logo.png
Labels: assets

fix(fix issues with commit process): fix issues with commit process
  .cargo/config.toml
  .clippy.toml
  .github/workflows/ci.yml
  Cargo.lock
  Cargo.toml
  README.md
  fleet.toml
  rustfmt.toml
  scud_core/Cargo.lock
  scud_core/src/commands/commit/executors.rs
  scud_core/src/commands/commit/helpers.rs
  scud_core/src/logging/diagnostics.rs
  src/main.rs
Labels: config/dependencies, github, gh-workflows, scud_core, scud

feat(dry_run): rewrite dry run logging
  .gitignore
  scud_core/src/cli.rs
  scud_core/src/commands/commit/commit.rs
  scud_core/src/commands/commit/executors.rs
  scud_core/src/commands/commit/helpers.rs
  scud_core/src/commands/diff.rs
  scud_core/src/commands/diff/diff.rs
  scud_core/src/logging/diagnostics.rs
  scud_core/src/logging/general.rs
  scud_core/src/logging/helpers.rs
Labels: config/dependencies, scud_core

chore(dry-run): remove dead code
  scud_core/src/commands/commit/commit.rs
Labels: scud_core

refactor(info): refactor the info commands
  scud_core/src/commands.rs
  scud_core/src/commands/commit/commit.rs
  scud_core/src/commands/commit/executors.rs
  scud_core/src/commands/feature.rs
  scud_core/src/commands/feature/executors.rs
  scud_core/src/commands/feature/feature.rs
  scud_core/src/commands/push/push.rs
  scud_core/src/commands/stage/executors.rs
  scud_core/src/commands/stage/stage.rs
  scud_core/src/commands/state/executors.rs
  scud_core/src/commands/state/state.rs
  scud_core/src/commands/unstage/unstage.rs
  scud_core/src/commands/update/executors.rs
  scud_core/src/commands/update/update.rs
  scud_core/src/logging/diagnostics.rs
  scud_core/src/logging/general.rs
  scud_core/src/process_commands.rs
Labels: scud_core

feat(feature): add initial scaffolding for feature subcommand
  scud_core/src/cli.rs
  scud_core/src/commands/stage/executors.rs
  scud_core/src/logging/general.rs
Labels: scud_core

docs(cli): add more documentation to the CLI surface
  .gitignore
  CHANGELOG.md
  README.md
  scud_core/src/cli.rs
  scud_core/src/commands/commit/executors.rs
  scud_core/src/commands/info.rs
  scud_core/src/commands/info/codebase/codebase.rs
  scud_core/src/commands/info/system.rs
  scud_core/src/commands/info/system/system.rs
  scud_core/src/process_commands.rs
Labels: config/dependencies, scud_core

refactor(cli): refactor the information-based subcommands
  scud_core/src/cli.rs
  scud_core/src/cli/cli.rs
  scud_core/src/cli/information.rs
  scud_core/src/cli/version_control.rs
  scud_core/src/commands.rs
  scud_core/src/commands/commit/commit.rs
  scud_core/src/commands/diff.rs
  scud_core/src/commands/diff/diff.rs
  scud_core/src/commands/diff/executors.rs
  scud_core/src/commands/info/codebase/codebase.rs
  scud_core/src/commands/info/system/system.rs
  scud_core/src/commands/init/init.rs
  scud_core/src/commands/push.rs
  scud_core/src/commands/push/executors.rs
  scud_core/src/commands/push/push.rs
  scud_core/src/commands/stage/stage.rs
  scud_core/src/commands/state/state.rs
  scud_core/src/commands/unstage/unstage.rs
  scud_core/src/commands/update/update.rs
  scud_core/src/helpers.rs
  scud_core/src/process_commands.rs
  src/main.rs
Labels: scud_core, scud

refactor(cli): refactor the diff subcommand of the cli surface
  CHANGELOG.md
  scud_core/src/cli.rs
  scud_core/src/cli/branching.rs
  scud_core/src/cli/cli.rs
  scud_core/src/cli/information.rs
  scud_core/src/cli/version_control.rs
  scud_core/src/commands/commit/commit.rs
  scud_core/src/commands/commit/executors.rs
  scud_core/src/commands/diff/diff.rs
  scud_core/src/commands/diff/executors.rs
  scud_core/src/commands/feature/executors.rs
  scud_core/src/commands/feature/feature.rs
  scud_core/src/commands/info/codebase/codebase.rs
  scud_core/src/commands/info/system/system.rs
  scud_core/src/commands/init/init.rs
  scud_core/src/commands/push/executors.rs
  scud_core/src/commands/push/push.rs
  scud_core/src/commands/stage/executors.rs
  scud_core/src/commands/stage/stage.rs
  scud_core/src/commands/state/executors.rs
  scud_core/src/commands/state/state.rs
  scud_core/src/commands/unstage/unstage.rs
  scud_core/src/commands/update/executors.rs
  scud_core/src/commands/update/update.rs
  scud_core/src/helpers.rs
  scud_core/src/logging/diagnostics.rs
  scud_core/src/process_commands.rs
  src/main.rs
Labels: config/dependencies, scud_core, scud

Delete fleet.toml
  fleet.toml
Labels: config/dependencies

Delete .cargo directory
  .cargo/config.toml
Labels: none

chore(state): check state when pull and push are pending
  CHANGELOG.md
  scud_core/src/commands/push/push.rs
  scud_core/src/commands/state/executors.rs
Labels: config/dependencies, scud_core

fix(state): fix state executor panic
  Cargo.lock
  Cargo.toml
  scud_core/Cargo.lock
  scud_core/Cargo.toml
  scud_core/src/commands/state/executors.rs
  tools/hooks/search-term.hook
Labels: config/dependencies, scud_core

feat(state): start adding branch info to state
  Cargo.lock
  Cargo.toml
  scud_core/Cargo.lock
  scud_core/Cargo.toml
  scud_core/src/commands/state/executors.rs
Labels: config/dependencies, scud_core

feat(branch): add initial scaffolding for branch subcommand
  scud_core/src/cli/branching.rs
  scud_core/src/cli/cli.rs
  scud_core/src/commands/branch.rs
  scud_core/src/commands/branch/branch.rs
  scud_core/src/commands/branch/executors.rs
  scud_core/src/commands/state/executors.rs
  scud_core/src/commands/state/state.rs
Labels: scud_core

fix(branch): fix default branch subcommand panic
  scud_core/src/cli/branching.rs
  scud_core/src/commands.rs
  scud_core/src/commands/branch.rs
  scud_core/src/commands/branch/branch.rs
  scud_core/src/commands/branch/delete.rs
  scud_core/src/commands/branch/executors.rs
  scud_core/src/commands/branch/list.rs
  scud_core/src/commands/branch/list/executors.rs
  scud_core/src/commands/branch/list/list.rs
  scud_core/src/commands/branch/rename.rs
  scud_core/src/process_commands.rs
Labels: scud_core

feat(info): add under the hood information for the system subcommand
  scud_core/src/cli/information.rs
  scud_core/src/commands/branch/branch.rs
  scud_core/src/commands/info.rs
  scud_core/src/commands/info/codebase/codebase.rs
  scud_core/src/commands/info/info.rs
  scud_core/src/commands/info/system/system.rs
  scud_core/src/logging/helpers.rs
  scud_core/src/process_commands.rs
Labels: scud_core

refactor(logging): refactor general command info logging
  scud_core/src/commands/branch/list/list.rs
  scud_core/src/commands/info/codebase/codebase.rs
  scud_core/src/commands/info/system/system.rs
  scud_core/src/commands/stage/executors.rs
  scud_core/src/commands/state/executors.rs
  scud_core/src/commands/unstage/unstage.rs
  scud_core/src/logging/diagnostics.rs
  src/main.rs
Labels: scud_core, scud

feat(info): add additional warning when --info flag is invoked
  scud_core/src/commands/commit/logging.rs
  scud_core/src/commands/info/codebase/codebase.rs
  scud_core/src/commands/info/system/system.rs
  scud_core/src/logging/diagnostics.rs
  scud_core/src/logging/helpers.rs
Labels: scud_core

refactor(info): remove info and setup commands
  .prettierignore
  .prettierrc
  scud_core/src/cli/branching.rs
  scud_core/src/cli/cli.rs
  scud_core/src/commands/branch/branch.rs
  scud_core/src/commands/branch/list/list.rs
  scud_core/src/commands/commit/helpers.rs
  scud_core/src/commands/commit/logging.rs
  scud_core/src/commands/info/codebase/codebase.rs
  scud_core/src/commands/info/system/system.rs
  scud_core/src/commands/stage/executors.rs
  scud_core/src/commands/state/executors.rs
  scud_core/src/commands/unstage/unstage.rs
  scud_core/src/logging/diagnostics.rs
  scud_core/src/logging/helpers.rs
  scud_core/src/process_commands.rs
  src/main.rs
Labels: config/dependencies, scud_core, scud

refactor(commit info): refactor commands displayed in commit info
  scud_core/src/cli/branching.rs
  scud_core/src/commands/branch/branch.rs
  scud_core/src/commands/commit/commit.rs
  scud_core/src/commands/commit/executors.rs
Labels: scud_core

feat(branch): finish branching output
  scud_core/src/cli/branching.rs
  scud_core/src/commands/branch.rs
  scud_core/src/commands/branch/branch.rs
  scud_core/src/commands/branch/executors.rs
  scud_core/src/commands/branch/list.rs
  scud_core/src/commands/branch/list/executors.rs
  scud_core/src/commands/branch/list/list.rs
  scud_core/src/commands/branch/rename/rename.rs
  scud_core/src/commands/commit/commit.rs
  scud_core/src/commands/state/executors.rs
Labels: scud_core

feat(branch): add latest commit information to remote
  scud_core/src/commands/branch/executors.rs
  scud_core/src/commands/state/executors.rs
Labels: scud_core

feat(branch): add branch subcommand functionality
  Cargo.lock
  Cargo.toml
  TODO.txt
  scud_core/Cargo.lock
  scud_core/Cargo.toml
  scud_core/src/commands/branch/branch.rs
  scud_core/src/commands/branch/executors.rs
Labels: config/dependencies, scud_core

fix(state): fix issues with state
  Cargo.lock
  Cargo.toml
  README.md
  scud_core/Cargo.toml
  scud_core/src/cli/branching.rs
  scud_core/src/cli/cli.rs
  scud_core/src/commands/branch/branch.rs
  scud_core/src/commands/branch/executors.rs
  scud_core/src/commands/branch/rename/rename.rs
  scud_core/src/commands/commit/commit.rs
  scud_core/src/commands/commit/executors.rs
  scud_core/src/commands/diff/diff.rs
  scud_core/src/commands/healthcheck/healthcheck.rs
  scud_core/src/commands/info/codebase/codebase.rs
  scud_core/src/commands/info/info.rs
  scud_core/src/commands/info/system/system.rs
  scud_core/src/commands/init/init.rs
  scud_core/src/commands/push/push.rs
  scud_core/src/commands/stage/stage.rs
  scud_core/src/commands/state.rs
  scud_core/src/commands/state/executors.rs
  scud_core/src/commands/state/helpers.rs
  scud_core/src/commands/state/state.rs
  scud_core/src/commands/unstage/unstage.rs
  scud_core/src/commands/update/update.rs
  scud_core/src/logging/general.rs
  scud_core/src/process_commands.rs
  src/main.rs
Labels: config/dependencies, scud_core, scud

docs(cli): refactor CLI descriptions
  Cargo.toml
  README.md
  scud_core/Cargo.lock
  scud_core/src/cli.rs
  scud_core/src/cli/cli.rs
  scud_core/src/logging/diagnostics.rs
Labels: config/dependencies, scud_core

.github/labeler.yml:

# Add 'config/dependencies' label to any root file changes
config/dependencies:
  - '*'

# Add 'circleci' label to any circleci configuration changes
circleci:
  - '.circleci/*'
  - '.circleci/**/*'

# Add 'husky' label to any husky configuration changes
husky:
  - '.husky/*'
  - '.husky/**/*'

# Add 'github' label to any github configuration changes
github:
  - '.github/*'
  - '.github/**/*'

# Add 'gh-workflows' label to any github workflow configuration changes
gh-workflows:
  - '.github/workflows/*'
  - '.github/workflows/**/*'

# Add 'scud_core' label to any change within the 'scud_core' directory
scud_core:
  - 'scud_core/**/*'
  - 'scud_core/*'

# Add 'assets' label to any change within the 'assets' directory
assets:
  - 'assets/**/*'
  - 'assets/*'

# Add 'scud' label to any change within the 'src' directory
scud:
  - 'src/**/*'
  - 'src/*'
